{% extends "base_layout.html" %}



{%  block title %}

    O Nas - Kim jesteśmy?

{% endblock %}



{% block content %}

    <div class="oferta_teraz" style="border: none">

        <div class="ofert_ter"><span style="color: #8f8f8f;">OKRES PRÓBNY</span></div><br /><br /><br />
    <p>
        Wchodząc i przeglądając naszą stronę internetową, zapewne zastanawiasz się czy warto byłoby skorzystać z naszej oferty. Pakiety, które są dostępne w naszej ofercie na pewno przypadną Ci do gustu. Co do tego nie mamy najmniejszych wątpliwości. Dlatego dajemy Ci możliwość skorzystania z 14-sto dniowego okresu próbnego – całkowicie za darmo!
    </p><br />
    <p>
        Z nami tylko zyskujesz! Tak jest i tym razem. Decydując się na proponowaną przez nas możliwość, nie ponosisz żadnych kosztów związanych z eksploatacją serwera podczas 14-stu dni okresu próbnego. Przede wszystkim masz możliwość zapoznania się z panelem administracyjnym, funkcjonalnością serwera a także poziomem obsługi klienta i wsparcia technicznego.
    </p><br />
    <p>
        Po upływie okresu próbnego bez żadnego problemu  i zobowiązań możesz zrezygnować z naszych usług. Jednak jesteśmy prawie pewni, że nie będziesz chciał nas opuścić ;-)
    </p><br />
    <p>
        Nie mamy nic do ukrycia! Sprawdź nas!
    </p><br />
    <p>
        Zespół Safeserver.pl
    </p><br />
    </div>
<!--
    <div class="oferta_teraz">


    </div>




    <div class="detale_oferty">



    </div>
-->
{% endblock %}