{% extends "base_layout.html" %}



{%  block title %}

    O Nas - Kim jesteśmy?

{% endblock %}



{% block content %}

    <div class="oferta_teraz" style="border: none">

{#        <div class="ofert_ter"><span style="color: #8f8f8f;">OKRES PRÓBNY</span></div><br /><br /><br />#}
    <p>
        Nasza oferta bardzo przypadła Ci do gustu? Chciałbyś natychmiast rozpocząć współpracę z safeserver.pl? W dalszym ciągu obowiązuje Cię umową z innym dostawcą hostingu? Uważasz, że zmiana firmy hostingowej przed końcem umowy byłaby swoistym marnotrawstwem Twoich pieniędzy?  Jeżeli odpowiedziałeś na wszystkie pytania twierdząco tzn., że powinieneś się z nami jak najszybciej skontaktować!
    </p><br />
    <p>
        Oferujemy Tobie możliwość zmiany „starego” hostingu na jeden z pakietów Safeserver.pl przed końcem umowy! Korzystając z naszej promocji nie musisz się zastanawiać czy warto zrezygnować z opłaconego z góry abonamentu u konkurencji, bowiem okres który pozostał Ci do końca umowy zostanie doliczony do Twego rocznego abonamentu!
    </p><br />
    <p>
        Pewnie w tym momencie zadajesz sobie fundamentalne pytanie: „ale jak to działa”? Odpowiedź jest niezwykle prosta. Zakładając, że umowa z firmą X kończy Ci się za trzy miesiące, a Ty już jesteś zdecydowany, że chcesz korzystać z naszych usług. Wówczas składasz zamówienie na wybrany przez Ciebie pakiet, następnie kontaktujesz się z naszym Biurem Obsługi Klienta w celu przedstawienia aktualnej faktury z firmą X za dzierżawę serwera wirtualnego. Nasz pracownik weryfikuje pozostały okres trwania umowy i automatycznie założone wcześniej trzy miesiące dolicza do Twego rocznego abonamentu. Reasumując wykupujesz abonament dwunastomiesięczny a otrzymujesz od nas subskrypcję na piętnaście miesięcy.
    </p><br />
    <p>
        Jest tylko jeden warunek, który przed Tobą stawiamy. Musisz być osobą, której zależy na rozwoju, ponieważ z Safeserver.pl może być tylko lepiej!
    </p><br />
    <p>
        Jeżeli potrzebujesz pomocy technicznej związanej z przeniesieniem danych z konkurencyjnego serwera na nasz serwer, personel z działu technicznego udzieli Ci wszystkich niezbędnych informacji, bądź w razie potrzeby zrobi wszystko za Ciebie.
    </p><br />
    </div>
<!--
    <div class="oferta_teraz">


    </div>




    <div class="detale_oferty">



    </div>
-->
{% endblock %}