{% extends "base_layout.html" %}

{%  block title %}
    Klient zweryfikowany
{% endblock %}

{% block content %}
    <div class="oferta_teraz">

        <div class="ofert_ter"><span style="font-weight: bold;">Klient</span> - <span style="color: #8f8f8f;">zweryfikowany</span></div>

        <div class="powrot_oferta"><a href="{% url hosting_index %}"><img src="{{ STATIC_URL }}images/powrot_oferta.png" alt="Powrót do oferty" title="Powrót do oferty hostingu" /></a></div>
    </div>

    <div class="oferta_teraz">

        <div class="sciezka_center">

            <div class="przciski_listy2">Specyfikacja serwera</div>
            <div class="przciski_listy2">Dodatki</div>
            <div class="przciski_listy">Weryfikacja klienta</div>
            <div class="przciski_listy2">Płatność</div>
            <div class="przciski_listy2">Podsumowanie</div>

        </div>

    </div>

    <div class="boks_plikow">

    </div>
        <div class="detale_oferty">
            <div class="srodek_loginu">
                <div class="nazwa_oferty_dodat22">
                    <span style="font-weight: bold;font-size: 15px;">Dane klienta po weryfikacji</span><br/>
                </div>

        <form id="dodatek_wlasny" method="POST" action ="." >
            {% csrf_token %}

                        <div class="dodatki_pliki">

                            <div class="dane_loginn">
                                <div class="dane_albi">
                                    <div class="dane_projkk">
                                        <div class="danke">Imię :</div> <span style="font-weight: bold;"> {{ imie }}</span> <br/>
                                        <div class="danke">Nazwisko :</div> <span style="font-weight: bold;">{{ nazwisko }}</span> <br/>
                                        <div class="danke">Adres :</div> <span style="font-weight: bold;">{{ adres }}</span> <br/>
                                        <div class="danke">Kod pocztowy :</div> <span style="font-weight: bold;">{{ kod }}</span> <br/>
                                        <div class="danke">Miasto :</div> <span style="font-weight: bold;">{{ miasto }}</span> <br/>
                                        <div class="danke">Kraj :</div> <span style="font-weight: bold;">{{ kraj }}</span> <br/>
                                    </div>
                                    <div class="dane_projkk">
                                        <div class="danke">Województwo :</div> <span style="font-weight: bold;">{{ wojewodztwo }}</span> <br/>
                                        <div class="danke">Telefon :</div> <span style="font-weight: bold;">{{ telefon }}</span> <br/>
                                        <div class="danke">Telefon dodatkowy :</div> <span style="font-weight: bold;">{{ tel_dodatkowy }}</span> <br/>
                                        <div class="danke">Nazwa firmy :</div> <div class="firma_tekst"><span style="font-weight: bold;">{{ nazwafirmy }}</span></div> <br/>
                                        <div class="danke">NIP :</div> <span style="font-weight: bold;">{{ nip }}</span> <br/>
                                        <div class="danke">REGON :</div> <span style="font-weight: bold;">{{ regon }}</span> <br/>
                                    </div>
                                </div>
                            </div>

                            <div class="podsumowanie"></div>
                            <div class="cena_koncowa">
                                <div class="podsumowaniecenowestyl">
                                    <div class="podsumowaniecenowe_styl2">
                                        <ul>
                                            <li style="font-weight: bold; font-size: 15px; color: #000000;" value="{{ cennka }}">{{ cennka }} zł netto</li>
                                        </ul>
                                    </div>
                                    <div class="podsumowaniecenowe_styl">
                                      <span style="text-transform: uppercase; font-weight: bold;"> Całkowita suma zakupów w koszyku</span><br/>
                                    </div>
                                </div>
                                <div class="podsumowaniecenowestyl3">
                                    <div class="podsumowaniecenowe_styl22">
                                        <input type="hidden" name="dodatki" value="0">
                                        <ul style="font-size: 11px;">
                                            <li value="{{ vat_podatk }}" name="vat_ter">{{ vat_podatk }} zł podatku</li>
                                        </ul>
                                        <input type="hidden" name="amount" value="115">
                                        <input type="hidden" name="total_amount" value="{{ cennka_brutto }}">
                                            <ul id="razem_suma" style="font-weight: bold; font-size: 14px; color: #000000;">
                                                <li name="razem_ter">{{ cennka_brutto }} zł brutto</li>
                                            </ul>
                                    </div>
                                    <div class="podsumowaniecenowe_styl33">
                                        <span style="font-size: 12px; color: #888888;">+ 23% VAT</span><br/>
                                        <span style="text-transform: uppercase; font-weight: bold;"> RAZEM</span><br/>
                                    </div>
                                </div>
                            </div>
                        </div>

            <div class="button_danetech">
                <input class="butt_kliktan" type="submit" value="">
            </div>

        </form>
            </div>
        </div>
{% endblock %}