<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Status zamówienia - Oczekiwanie na przelew | SafeServer.pl</title>

</head>

<style>

.batak{background-color: #3a94be; padding: 20px;}

a:link {color:#fba12c;}

a:visited {color:#fba12c;}

a:hover {color:#fba12c;}

a:active {color:#fba12c;}

a:link {text-decoration:none;}

a:visited {text-decoration:none;}

a:hover {text-decoration:underline;}

a:active {text-decoration:underline;}</style>

<body>

<body style="background:#FFFFFF; font-family:Tahoma, Arial, Helvetica, sans-serif; font-size:13px; margin:0; padding:0; font-weight:normal;">

<div style="background:#f6f5f5; font-family:Tahoma, Arial, Helvetica, sans-serif; font-size:13px; margin:0; padding:0; font-weight:normal;">

<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">

<tr>

    <td align="center" valign="top" style="padding:20px 0 20px 0">

        <!-- [ header starts here] -->

        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="940" style="border:1px solid #e0e0e0;">

            <tr>

                <td valign="top" class="batak">

                    <center>

                        <p style="font-size:14px; line-height:2em; margin:0;">

                            <p>

                                <img title="SafeServer.pl - Najtańszy hosting w sieci." alt="SafeServer Logo" src="http://safeserver.pl/static/images/logotyp.png">

                            </p>

                        <h1 style="color: #FFFFFF; font-size:20px; font-weight:bold; line-height:30px; margin:0 0 11px 0;">STATUS ZAMÓWENIE NR. {{ numer_zamowienia }} Z DNIA: {{ data_zamowienia }}<br/><span style="color: #d3b4b4;">OCZEKIWANIE NA PRZELEW</span></h1>

                       </p>

                    </center>

                </td>

            </tr>

            <tr>



            </tr>

            <tr>

                <td>

                    <table cellspacing="0" cellpadding="0" border="0" width="940">

                        <thead>

                        <tr>

                            <th align="left" width="580" bgcolor="#9abdd0" style="font-size:15px; padding:5px 9px 6px 9px; line-height:1em;">Dane do przelewu:</th>

                            <th width="10"></th>

                        </tr>

                        </thead>

                        <tbody>

                        <tr>

                            <td valign="top" style="font-size:14px; font-weight:normal; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA; line-height:2em;">

                           <b>Nazwa firmy: </b>Agencja Projektowo-Usługowo-Reklamowa '2 STREFA' Albert Kowalewski <br>

                           <b>Adres: </b>ul. Jarzębinowa 24/6 <br />

                           <b>Kod pocztowy: </b>15-793 Białystok <br>

                           <b>NIP:</b> 542-272-14-34<br>

                           <b>REGON:</b> 200248188 <br>

                           <b>Bank ING:</b> 93 1050 1823 1000 0090 6564 6151 <br>

                           <b>Tytuł przelewu:</b> Opłata za zamówienie nr. {{ numer_zamowienia }} z dnia {{ data_zamowienia }}r. <br>

                            </td>



                        </tr>

                        </tbody>

                    </table>

                    <br/>

                </td>

            </tr>

            <tr>

                <td bgcolor="#EAEAEA" align="center" style="background:#FFFFFF; text-align:center;"><center><p style="font-size:12px; margin:0;">Informacja o zamówieniu, również możesz sprawdzić na Swoim: <strong><a href="http://safeserver.pl/login/">Panelu Klienta</a></strong></p></center></td>

            </tr>

        </table>

    </td>

</tr>

</table>

</div>

</body>