{% extends "base_layout.html" %}

{%  block title %}Oferta hostingu{% endblock %}

{% block description %}Oferta hostingu, każdy tutaj znajdzie coś dla siebie. Dajemy zawsze nielimitowane transfery, ilość skrzynek pocztowych bez limitów, codzienne kopie bezpieczeństwa, całodobową obsługę.{% endblock %}

{% block content %}
    <div class="oferta_teraz44">

        <div class="ofert_ter">Hosting - Oferta SafeServer</div>

    </div>
    <div class="oferta_teraz">

        <div class="stakip">
            <div class="zdjecie_mistrz">
                <div class="hostok"><img src="{{ STATIC_URL }}images/naszeservery.jpg" alt="Najlepszy hosting w sieci"></div>
                <div class="mosthostok">
                    <div class="klasyk_stik"><img src="{{ STATIC_URL }}images/stik.jpg" alt="Najtańsza oferta"></div>
                    <div class="tekst_stik">
                        <div class="klik_ten"><img src="{{ STATIC_URL }}images/kliker.jpg" alt="Zawsze nielimitowane transfery!"></div><div class="tek_ten">Zawsze nielimitowane transfery!</div>
                        <div class="klik_ten"><img src="{{ STATIC_URL }}images/kliker.jpg" alt="Ilość skrzynek pocztowych bez limitów"></div><div class="tek_ten">Ilość skrzynek pocztowych bez limitów</div>
                    <div class="klik_ten"><img src="{{ STATIC_URL }}images/kliker.jpg" alt="Codzienne kopie bezpieczeństwa"></div><div class="tek_ten">Codzienne kopie bezpieczeństwa</div>

                    </div>
                </div>
            </div>
            <div class="teks_mistrz">
                <img src="{{ STATIC_URL }}images/boksing.jpg" alt="Serwery www i bazy danych">
            </div>
        </div>

    </div>
    <div class="oferta_teraz">

                    <div class="center_tresc22">
                    <div class="tekst_1">
                        <div class="cena_za_rok">Cena przy opłacie / rok <br/><span style="font-size: 14px; color: #ff0000;">PROMOCJA!</span></div>
                        <div class="dane_tekst2">
                            <div class="listwa_tekst3">Pojemność konta</div>
                            <div class="listwa_tekst2">Maksymalny transfer</div>
                            <div class="listwa_tekst3">Bazy danych MySQL</div>
                            <div class="listwa_tekst2">Bazy danych Postre SQL</div>
                            <div class="listwa_tekst3">Konta pocztowe</div>
                            <div class="listwa_tekst2">Konto FTP/anonimowe FTP</div>
                            <div class="listwa_tekst3">Biblioteka skryptów</div>
                            <div class="listwa_tekst2">Abonament roczny</div>
                            <div class="listwa_tekst3"></div>
                            <div class="listwa_tekst2"><span style="font-weight: bold;">E-mail</span></div>
                            <div class="listwa_tekst3">Liczba skrzynek pocztowych</div>
                            <div class="listwa_tekst2">Panel administracyjny cPanel</div>
                            <div class="listwa_tekst3">Poczta we własnej domenie</div>
                            <div class="listwa_tekst2">Przekierowanie poczty</div>
                            <div class="listwa_tekst3">Autoresponder</div>
                            <div class="listwa_tekst2">AntySpam i Antywirus</div>
                            <div class="listwa_tekst3">Dostęp przez WWW</div>
                            <div class="listwa_tekst2">Dostęp przez POP3/SMTP</div>
                            <div class="listwa_tekst3">Dostęp przez IMAP</div>
                            <div class="listwa_tekst2">Multipoczta</div>
                            <div class="listwa_tekst3"></div>
                            <div class="listwa_tekst2"><span style="font-weight: bold;">Parametry WWW</span></div>
                            <div class="listwa_tekst3">Subdomeny</div>
                            <div class="listwa_tekst2">Harmonogram działań CRON</div>
                            <div class="listwa_tekst3">Certyfikat SSL dla subdomeny</div>
                            <div class="listwa_tekst2">Server Side Includes(SSI)</div>
                            <div class="listwa_tekst3">Dziennik serwera</div>
                            <div class="listwa_tekst2">SSH</div>
                            <div class="listwa_tekst3">Możliwość zabezpieczenia stron hasłem</div>
                            <div class="listwa_tekst2">Codzienna kopia zapasowa</div>
                            <div class="listwa_tekst3">Dostęp do pakietu QuickInstall</div>
                            <div class="listwa_tekst2">Statystyki stron</div>
                            <div class="listwa_tekst3"></div>
                            <div class="listwa_tekst2"><span style="font-weight: bold;">Języki skryptów</span></div>
                            <div class="listwa_tekst3">PHP 5</div>
                            <div class="listwa_tekst2">PERL 5</div>
                            <div class="listwa_tekst3">C</div>
                            <div class="listwa_tekst2">C++</div>
                            <div class="listwa_tekst3">XML</div>
                            <div class="listwa_tekst2">Python</div>
                            <div class="listwa_tekst3">Mod_rewrite</div>
                            <div class="listwa_tekst2">Django</div>
                            <div class="listwa_tekst3">Ruby on Rails</div>
                        </div>
                    </div>
                    <div class="tekst_2">
                        <div class="oferta_tresc">
                            <div class="dane_zdjecie"><img src="{{ STATIC_URL }}images/starter.png" alt="Oferta hosting starter" /></div>
                            <div class="dane_danezz">115,00 zł</div>
                            <div class="podklad_tekst"><div class="dane_dane"><span style="font-weight: bold;font-style: italic;">15GB</span></div></div>
                                <div class="podklad_tekst2"><div class="dane_dane2">Bez limitów</div></div>
                                    <div class="podklad_tekst"><div class="dane_dane">25</div></div>
                                        <div class="podklad_tekst2"><div class="dane_dane2"><span style="color: red; font-weight: bold;">Nie</span></div></div>
                                            <div class="podklad_tekst"><div class="dane_dane">Bez limitów</div></div>
                                                <div class="podklad_tekst2"><div class="dane_dane2">10 kont/nie</div></div>
                                                    <div class="podklad_tekst"><div class="dane_dane"><span style="color: red; font-weight: bold;">Nie</span></div></div>
                                                        <div class="podklad_tekst2"><div class="dane_dane2"><span style="color: green; font-weight: bold;">115,00 zł</span></div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane"></div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2"></div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Bez limitów</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2"><span style="color: red; font-weight: bold;">Nie</span></div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane"></div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2"></div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2"><span style="color: red; font-weight: bold;">Nie</span></div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane"><span style="color: red; font-weight: bold;">Nie</span></div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane"></div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2"></div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2"><span style="color: red; font-weight: bold;">Nie</span></div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2"><span style="color: red; font-weight: bold;">Nie</span></div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2"><span style="color: red; font-weight: bold;">Nie</span></div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane"><span style="color: red; font-weight: bold;">Nie</span></div></div>

                            <div class="button_klik"><a href="{% url oferta_starter %}"><img src="{{ STATIC_URL }}images/zielonyszcze.png" onmouseover=" this.src='{{ STATIC_URL }}images/zielonyszcze2.png'" onmouseout=" this.src='{{ STATIC_URL }}images/zielonyszcze.png'" alt="Szczegóły oferty Starter" title="Szczegóły oferty Starter"/></a></div>

                        </div>
                        <div class="oferta_tresc">
                            <div class="dane_zdjecie"><img src="{{ STATIC_URL }}images/standard.png" alt="Oferta hosting standard"/></div>
                            <div class="dane_danezz">199,00 zł</div>
                            <div class="podklad_tekst"><div class="dane_dane"><span style="font-weight: bold;font-style: italic;">100GB</span></div></div>
                            <div class="podklad_tekst2"><div class="dane_dane2">Bez limitów</div></div>
                            <div class="podklad_tekst"><div class="dane_dane">50</div></div>
                            <div class="podklad_tekst2"><div class="dane_dane2"><span style="color: red; font-weight: bold;">Nie</span></div></div>
                            <div class="podklad_tekst"><div class="dane_dane">Bez limitów</div></div>
                            <div class="podklad_tekst2"><div class="dane_dane2">Bez limitów/tak</div></div>
                            <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                            <div class="podklad_tekst2"><div class="dane_dane2"><span style="color: orange; font-weight: bold;">199,00 zł</span></div></div>
                            <div class="podklad_tekst"><div class="dane_dane"></div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2"></div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Bez limitów</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane"></div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2"></div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane"></div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2"></div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2"><span style="color: red; font-weight: bold;">Nie</span></div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane"><span style="color: red; font-weight: bold;">Nie</span></div></div>
                            <div class="button_klik"><a href="{% url oferta_standard %}"><img src="{{ STATIC_URL }}images/zoltyszcze.png" onmouseover=" this.src='{{ STATIC_URL }}images/zoltyszcze2.png'" onmouseout=" this.src='{{ STATIC_URL }}images/zoltyszcze.png'" alt="Szczegóły oferty Standard" title="Szczegóły oferty Standard"/></a></div>
                        </div>
                        <div class="oferta_tresc">
                            <div class="dane_zdjecie"><img src="{{ STATIC_URL }}images/buisness.png" alt="Oferta hosting buisness"/></div>
                            <div class="dane_danezz">289,00 zł</div>
                            <div class="podklad_tekst"><div class="dane_dane"><span style="font-weight: bold;font-style: italic;">150GB</span></div></div>
                            <div class="podklad_tekst2"><div class="dane_dane2">Bez limitów</div></div>
                            <div class="podklad_tekst"><div class="dane_dane">Bez limitów</div></div>
                            <div class="podklad_tekst2"><div class="dane_dane2">Bez limitów</div></div>
                            <div class="podklad_tekst"><div class="dane_dane">Bez limitów</div></div>
                            <div class="podklad_tekst2"><div class="dane_dane2">Bez limitów</div></div>
                            <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                            <div class="podklad_tekst2"><div class="dane_dane2"><span style="color: blue; font-weight: bold;">289,00 zł</span></div></div>
                            <div class="podklad_tekst"><div class="dane_dane"></div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2"></div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Bez limitów</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane"></div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2"></div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane"></div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2"></div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2"><span style="color: red; font-weight: bold;">Nie</span></div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane"><span style="color: red; font-weight: bold;">Nie</span></div></div>
                            <div class="button_klik"><a href="{% url oferta_buisness %}"><img src="{{ STATIC_URL }}images/nibieskiszcz.png" onmouseover=" this.src='{{ STATIC_URL }}images/nibieskiszcz2.png'" onmouseout=" this.src='{{ STATIC_URL }}images/nibieskiszcz.png'" alt="Szczegóły oferty Buisness" title="Szczegóły oferty Buisness"/></a></div>
                        </div>
                        <div class="oferta_tresc">
                            <div class="dane_zdjecie"><img src="{{ STATIC_URL }}images/pro.png" alt="Oferta hosting professional"/></div>
                            <div class="dane_danezz">475,00 zł</div>
                            <div class="dane_dane"><span style="font-weight: bold;font-style: italic;">Bez limitów</span></div>
                            <div class="dane_dane2">Bez limitów</div>
                            <div class="dane_dane">Bez limitów</div>
                            <div class="dane_dane2">Bez limitów</div>
                            <div class="dane_dane">Bez limitów</div>
                            <div class="dane_dane2">Bez limitów</div>
                            <div class="dane_dane">Tak</div>
                            <div class="dane_dane2"><span style="color: purple; font-weight: bold;">475,00 zł</span></div>
                            <div class="podklad_tekst"><div class="dane_dane"></div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2"></div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Bez limitów</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane"></div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2"></div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane"></div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2"></div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane2">Tak</div></div>
                                                        <div class="podklad_tekst"><div class="dane_dane">Tak</div></div>
                            <div class="button_klik"><a href="{% url oferta_pro %}"><img src="{{ STATIC_URL }}images/fioletszcze.png" onmouseover=" this.src='{{ STATIC_URL }}images/fioletszcze2.png'" onmouseout=" this.src='{{ STATIC_URL }}images/fioletszcze.png'" alt="Szczegóły oferty Pro" title="Szczegóły oferty Pro"/></a></div>
                        </div>
                    </div>
                    <div class="podpis_pliku2">Ceny netto - należy doliczyć podatek VAT 23%</div>
                    <div class="podpis_pliku3">Wybierając nasz hosting zyskujesz:</div>
                </div>
    </div>
             <div class="oferta_teraz">
                <div class="tytul_wik">Nielimitowane konta pocztowe</div>
                <div class="likten"><img src="{{ STATIC_URL }}images/komp.jpg" alt="Nielimitowane konta pocztowe"></div>
                <div class="mekten">
                    - <span style="font-weight: bold;"> Nielimitowana</span> liczba kont POP3 wraz z SMTP<br/>
                    - Dostęp do poczty przez przeglądarkę (WebMail): Horde, SquirrelMail, RoundCube<br/>
                    - Dzięki IMAP pocztę możesz odbierać również na innych urządzeniach<br/>
                    - Zabezpieczenie antyspamowe: SpamAssassin<br/>
                    - <span style="font-weight: bold;">Nielimitowane</span> autorespondery, przekierowania, aliasy Email oraz listy mailingowe.<br/>
                </div>
             </div>
                 <div class="oferta_teraz">
                <div class="tytul_wik">Proste i szybkie instalacje gotowych rozwiązań!</div>
                <div class="likten"><img src="{{ STATIC_URL }}images/mody.jpg" alt="Proste i szybkie instalacje gotowych rozwiązań!"></div>
                <div class="mekten">
                    - Zainstalujesz ponad 75 darmowych skryptów jednym kliknięciem!<br/>
                    - WordPress  - Hostuj swój własny blog oparty o Wordpressa<br/>
                    - Joomla & Drupal - Profesjonalne rozwiązania CMS <br/>
                    - Hosting Magento- Darmowa platforma e-commerce z Twoim własnym sklepem<br/>
                    - Wiki  - Utwórz stronę Wiki wraz z MediaWiki<br/>
                </div>
             </div>
                 <div class="oferta_teraz">
                <div class="tytul_wik">PRZEJRZYSTY PANEL DO ZARZĄDZANIA HOSTINGIEM</div>
                <div class="likten"><img src="{{ STATIC_URL }}images/cpanel.jpg" alt="PRZEJRZYSTY PANEL DO ZARZĄDZANIA HOSTINGIEM"></div>
                <div class="mekten">
                    - Najnowsza wersja Cpanel<br/>
                    - Statystyki stron: AWStats, Webalizer, Raw Log Manager, Referrer oraz Logi Błędów<br/>
                    - Natychmiastowe instalacje: Sklepów, Blogów, Portali, Fora, Liczniki oraz Formularze pocztowe<br/>
                    - Katalogi chronione hasłem oraz dowolne, własne strony błędów. <br/>
                    - Zarządzanie plikami FTP z poziomu wyszukiwarki, Hotlink Protection, Blokowanie IP, przekierowania URL<br/>
                </div>
             </div>
                 <div class="oferta_teraz">
                <div class="tytul_wik">Środowisko idealne dla programistów I DEVELOPERÓW</div>
                <div class="likten"><img src="{{ STATIC_URL }}images/ssh.jpg" alt="Środowisko idealne dla programistów I DEVELOPERÓW"></div>
                <div class="mekten">
                    - Nielimitowane bazy MySQL z administracją poprzez phpMyAdmin<br/>
                    - Zainstalowane jęzki programowania: CGI, Fast CGI, PHP 5, Ruby on Rails, Perl, Python, SSI<br/>
                    - Moduły programowania: Curl, CPAN, GD Library, ImageMagick<br/>
                    - Zarządzanie systemem: SSH oraz Menadżer zadań Cron <br/>
                    - FrontPage Extensions<br/>
                </div>
             </div>
                 <div class="oferta_teraz">
                <div class="tytul_wik">Wsparcie techniczne na medal!</div>
                <div class="likten"><img src="{{ STATIC_URL }}images/pomoc24.jpg" alt="Wsparcie techniczne na medal!"></div>
                <div class="mekten">
                    - Niezawodny support przez telefon, Live Chat<br/>
                    - Codzienne kopie bezpieczeństwa<br/>
                    - Monitoring serwerów 24/7<br/>
                </div>
             </div>

{% endblock %}